<ion-content [fullscreen]="true">
  <!-- <app-menu></app-menu> -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-icon routerLink="/home" name="home"></ion-icon>
        <!-- Títulos alineados a la izquierda -->
        <!-- <ion-title routerLink="/home" class="toolbar-title">INICIO</ion-title> -->

        <!-- Título alineado a la derecha -->
        <ion-title slot="end">EXPERIENCIA LABORAL</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header> </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-card-title>FAPESA</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo febrero 2023 hasta agosto 2023 OPERARIO FINAL ASSEMBLY
                ( TV )</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>FAPESA</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo junio 2022 hasta diciembre 2022 OPERARIO SMT 4 (
                AUTOMATICA ) , OPERARIO FINAL ASSEMBLY ( TV )</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>GRUPO MIRGOR ( AUTO-PARTE )</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2013-2019 OPERADOR LOGISTICO DE COMPONENTES
                ELECTRONICOS ( TOYOTA ). OPERADOR DE TESTEO DE FUGAS DE
                MANGUERAS ( AIRE ACON. AUTOMOTRIZ ) OPERADOR DE MONTAJE ( AIRE
                ACONDICIONADO AUTOMOTRIZ ).</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>GRUPO MIRGOR ( IATEC )</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2009-2013 DEPARTAMENTO DE CALIDAD ( ANALISIS DE NO
                CONFORMIDADES). OPERADOR DE ENSAMBLE ( AIRE ACONDICIONADO IDU
                )</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>GRUPO MIRGOR ( INTER-CLIMA)</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2008-2009 OPERADOR DE ENSAMBLE ( AIRE ACONDICIONADO ODU
                )</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>FOXMAN</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2007 OPERADOR DE ENSAMBLE ( MICROONDAS Y AIRE
                ACONDICIONADO ODU )</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>PHILIPS</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2005-2006 OPERADOR DE SMT ( AXIAL, RADIAL, SMT CHIPEO
                ).</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>FAMAR DELPHI</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2003-2005 OPERADOR DE SMT : AXIAL, RADIAL, SMT
                CHIPEO,INSPECCION VISUAL, INSERCION MANUAL, GRABADO OPT, MONTAJE
                RADIO, MONTAJE FR4</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>BGH</ion-card-title>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 2000-2002 OPERADOR DE LINEA AIRE
                COMPACTO</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title
                  >COOPERATIVA LA UNION, HOSPITAL REGIONAL RIO
                  GRANDE</ion-card-title
                >
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 1999-2000 MAESTRANZA</ion-card-subtitle
              >
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-card-title>
                  ESTUDIO CONTABLE RODULFO ADRIAN</ion-card-title
                >
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-card-subtitle
                >periodo 1998 ADMINISTRATIVO B , LIBROS IVA VENTAS, IVA COMPRAS
                , ART, BANCOS</ion-card-subtitle
              >
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-content>
