<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-icon routerLink="/home" name="home"></ion-icon>
    <!-- <ion-title routerLink="/home" class="toolbar-title">INICIO</ion-title> -->
    <ion-title slot="end">INFORMACION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="center-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Suarez Jose Antonio</ion-card-title>
      <ion-card-subtitle>-Tecnico Universitario en Programacion</ion-card-subtitle>
      <ion-card-subtitle>-Fecha de nacimiento:23/03/79</ion-card-subtitle>
      <ion-card-subtitle>-Estado civil:casado</ion-card-subtitle>
      <ion-card-subtitle>-Edad:45 años</ion-card-subtitle>
      <ion-card-subtitle>-Hijas:2</ion-card-subtitle>
      <ion-card-subtitle>Email: suarez.jose.230379&#64;gmail.com</ion-card-subtitle>
      <ion-card-subtitle>Telefono: 2964-626613</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/fotoperfilcurriculum.jpg" alt="">
    </ion-card-content>
  </ion-card>
  
  
</ion-content>


